article {
  min-height: 100vh;
  background: $white;
  padding: 3rem 0;
  @media screen and (min-width: 500px) {
    padding: 5rem 0;
  }
}

.main-content {
  margin-bottom: 2rem;
}

.titleblock {
  border-bottom: 1px dotted $black;
  margin-bottom: 3rem;
}

.dateblock {
  color: $dark1;
}
